<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="FCamara\Getnet\Model\ConfigInterface" type="FCamara\Getnet\Model\Ui\Billet\ConfigProvider" />

    <!-- BILLET PAYMENT CONFIGURATION -->

    <!-- Billet Authorize command -->
    <virtualType name="GetnetGatewayBilletAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">GetnetGatewayBilletAuthorizationRequest</argument>
            <argument name="handler" xsi:type="object">GetnetGatewayBilletResponseHandlerComposite</argument>
            <argument name="transferFactory" xsi:type="object">FCamara\Getnet\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">FCamara\Getnet\Gateway\Http\Client\Billet\AuthorizeClient</argument>
            <argument name="validator" xsi:type="object">FCamara\Getnet\Gateway\Validator\GeneralResponseValidator</argument>
            <argument name="errorMessageMapper" xsi:type="object">FCamara\Getnet\Gateway\ErrorMapper\VirtualErrorMessageMapper</argument>
        </arguments>
    </virtualType>

    <!-- Billet Authorization Request -->
    <virtualType name="GetnetGatewayBilletAuthorizationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="data" xsi:type="string">FCamara\Getnet\Gateway\Request\Billet\DataRequest</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Billet Response handlers -->
    <virtualType name="GetnetGatewayBilletResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="payment_id" xsi:type="string">FCamara\Getnet\Gateway\Response\Billet\PaymentIdHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Billet Payment Method Facade configuration -->
    <virtualType name="GetnetGatewayBilletFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\FCamara\Getnet\Model\Ui\Billet\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">FCamara\Getnet\Block\Billet\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">GetnetGatewayBilletValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">GetnetGatewayBilletCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->
    <virtualType name="GetnetGatewayBilletValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">GetnetGatewayBilletConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Billet Commands infrastructure -->
    <virtualType name="GetnetGatewayBilletCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">GetnetGatewayBilletAuthorizeCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Billet Configuration reader -->
    <virtualType name="GetnetGatewayBilletConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\FCamara\Getnet\Model\Ui\Billet\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Logger, initialized with GetnetGatewayBilletConfig -->
    <virtualType name="GetnetGatewayLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">GetnetGatewayBilletConfig</argument>
        </arguments>
    </virtualType>

    <!-- Billet Client Initialization -->
    <type name="FCamara\Getnet\Gateway\Http\Client\ClientMock">
        <arguments>
            <argument name="logger" xsi:type="object">GetnetGatewayLogger</argument>
        </arguments>
    </type>

    <type name="FCamara\Getnet\Gateway\Request\AuthorizationRequest">
        <arguments>
            <argument name="config" xsi:type="object">GetnetGatewayBilletConfig</argument>
        </arguments>
    </type>

    <virtualType name="GetnetGatewayBilletConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">GetnetGatewayBilletConfig</argument>
        </arguments>
    </virtualType>

    <type name="FCamara\Getnet\Block\Billet\Info">
        <arguments>
            <argument name="config" xsi:type="object">GetnetGatewayBilletConfig</argument>
        </arguments>
    </type>
    <!-- BILLET PAYMENT CONFIGURATION -->



    <!-- CREDITCARD PAYMENT CONFIGURATION -->

    <!-- CreditCard Payment Method Facade configuration -->
    <virtualType name="GetnetGatewayCreditCardFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\FCamara\Getnet\Model\Ui\CreditCard\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">FCamara\Getnet\Block\CreditCard\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">GetnetGatewayCreditCardValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">GetnetCreditCardValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">GetnetGatewayCreditCardCommandPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="GetnetCreditCardValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="responseCode" xsi:type="string">FCamara\Getnet\Gateway\Validator\GeneralResponseValidator</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- CreditCard Value handlers infrastructure -->
    <virtualType name="GetnetGatewayCreditCardValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">GetnetGatewayCreditCardConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="GetnetGatewayCreditCardConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">GetnetGatewayCreditCardConfig</argument>
        </arguments>
    </virtualType>

    <!-- CreditCard Configuration reader -->
    <virtualType name="GetnetGatewayCreditCardConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\FCamara\Getnet\Model\Ui\CreditCard\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- CreditCard Commands infrastructure -->
    <virtualType name="GetnetGatewayCreditCardCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">GetnetGatewayCreditCardAuthorizeCommand</item>
                <item name="capture" xsi:type="string">GetnetGatewayCreditCardStrategyCommand</item>
                <item name="sale" xsi:type="string">GetnetGatewayCreditCardSaleCommand</item>
                <item name="settle" xsi:type="string">GetnetGatewayCreditCardSettleCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- CreditCard Authorize command -->
    <virtualType name="GetnetGatewayCreditCardAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">GetnetGatewayCreditCardRequest</argument>
            <argument name="handler" xsi:type="object">GetnetGatewayCreditCardResponseHandlerComposite</argument>
            <argument name="transferFactory" xsi:type="object">FCamara\Getnet\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">FCamara\Getnet\Gateway\Validator\GeneralResponseValidator</argument>
            <argument name="client" xsi:type="object">FCamara\Getnet\Gateway\Http\Client\CreditCard\AuthorizeClient</argument>
            <argument name="errorMessageMapper" xsi:type="object">FCamara\Getnet\Gateway\ErrorMapper\VirtualErrorMessageMapper</argument>
        </arguments>
    </virtualType>

    <!-- CreditCard Authorization Request -->
    <virtualType name="GetnetGatewayCreditCardRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="general" xsi:type="string">FCamara\Getnet\Gateway\Request\CreditCard\GeneralDataBuild</item>
                <item name="order" xsi:type="string">FCamara\Getnet\Gateway\Request\CreditCard\OrderDataBuild</item>
                <item name="customer" xsi:type="string">FCamara\Getnet\Gateway\Request\CreditCard\CustomerDataBuild</item>
                <item name="device" xsi:type="string">FCamara\Getnet\Gateway\Request\CreditCard\DeviceDataBuild</item>
                <item name="shipping" xsi:type="string">FCamara\Getnet\Gateway\Request\CreditCard\ShippingDataBuild</item>
                <item name="credit" xsi:type="string">FCamara\Getnet\Gateway\Request\CreditCard\CreditDataAuthorizationBuild</item>
                <item name="marketplace_subseller_payments" xsi:type="string">FCamara\Getnet\Gateway\Request\CreditCard\MarketplaceSubSellerPaymentsBuild</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="FCamara\Getnet\Gateway\Request\AuthorizationRequest">
        <arguments>
            <argument name="config" xsi:type="object">GetnetGatewayCreditCardConfig</argument>
        </arguments>
    </type>

    <!-- Authorize and Capture command -->
    <virtualType name="GetnetGatewayCreditCardSaleCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">GetnetGatewayCreditCardSaleRequest</argument>
            <argument name="handler" xsi:type="object">GetnetGatewayCreditCardResponseHandlerComposite</argument>
            <argument name="transferFactory" xsi:type="object">FCamara\Getnet\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">FCamara\Getnet\Gateway\Http\Client\CreditCard\CaptureClient</argument>
            <argument name="validator" xsi:type="object">FCamara\Getnet\Gateway\Validator\GeneralResponseValidator</argument>
            <argument name="errorMessageMapper" xsi:type="object">FCamara\Getnet\Gateway\ErrorMapper\VirtualErrorMessageMapper</argument>
        </arguments>
    </virtualType>

    <!-- CreditCard Authorize and Capture Request -->
    <virtualType name="GetnetGatewayCreditCardSaleRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="general" xsi:type="string">FCamara\Getnet\Gateway\Request\CreditCard\GeneralDataBuild</item>
                <item name="order" xsi:type="string">FCamara\Getnet\Gateway\Request\CreditCard\OrderDataBuild</item>
                <item name="customer" xsi:type="string">FCamara\Getnet\Gateway\Request\CreditCard\CustomerDataBuild</item>
                <item name="device" xsi:type="string">FCamara\Getnet\Gateway\Request\CreditCard\DeviceDataBuild</item>
                <item name="shipping" xsi:type="string">FCamara\Getnet\Gateway\Request\CreditCard\ShippingDataBuild</item>
                <item name="credit" xsi:type="string">FCamara\Getnet\Gateway\Request\CreditCard\CreditDataAuthorizeAndCaptureBuild</item>
                <item name="marketplace_subseller_payments" xsi:type="string">FCamara\Getnet\Gateway\Request\CreditCard\MarketplaceSubSellerPaymentsBuild</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="GetnetGatewayCreditCardStrategyCommand" type="FCamara\Getnet\Gateway\Command\CaptureStrategyCommand">
        <arguments>
            <argument name="commandPool" xsi:type="object">GetnetGatewayCreditCardCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Settle command -->
    <virtualType name="GetnetGatewayCreditCardSettleCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">GetnetGatewayCreditCardSettleRequest</argument>
            <argument name="transferFactory" xsi:type="object">FCamara\Getnet\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">FCamara\Getnet\Gateway\Http\Client\CreditCard\SettleClient</argument>
            <argument name="validator" xsi:type="object">FCamara\Getnet\Gateway\Validator\GeneralResponseValidator</argument>
            <argument name="errorMessageMapper" xsi:type="object">FCamara\Getnet\Gateway\ErrorMapper\VirtualErrorMessageMapper</argument>
        </arguments>
    </virtualType>

    <!-- CreditCard Settle Request -->
    <virtualType name="GetnetGatewayCreditCardSettleRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="amount" xsi:type="string">FCamara\Getnet\Gateway\Request\CreditCard\AmountBuild</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- CreditCard Response handlers -->
    <virtualType name="GetnetGatewayCreditCardResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="payment_id" xsi:type="string">FCamara\Getnet\Gateway\Response\PaymentIdHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- CreditCard transaction Validators -->

    <type name="Magento\Payment\Gateway\Data\Order\AddressAdapterFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">\FCamara\Getnet\Gateway\Data\Order\AddressAdapter</argument>
        </arguments>
    </type>
    <!-- CREDITCARD PAYMENT CONFIGURATION -->



    <!-- DEBITCARD PAYMENT CONFIGURATION -->

    <!-- DebitCard Authorize command -->
    <virtualType name="GetnetGatewayDebitCardAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">GetnetGatewayDebitCardAuthorizationRequest</argument>
            <argument name="handler" xsi:type="object">GetnetGatewayDebitCardResponseHandlerComposite</argument>
            <argument name="transferFactory" xsi:type="object">FCamara\Getnet\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">FCamara\Getnet\Gateway\Http\Client\DebitCard\AuthorizeClient</argument>
            <argument name="validator" xsi:type="object">FCamara\Getnet\Gateway\Validator\GeneralResponseValidator</argument>
            <argument name="errorMessageMapper" xsi:type="object">FCamara\Getnet\Gateway\ErrorMapper\VirtualErrorMessageMapper</argument>
        </arguments>
    </virtualType>

    <!-- DebitCard Authorization Request -->
    <virtualType name="GetnetGatewayDebitCardAuthorizationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="general" xsi:type="string">FCamara\Getnet\Gateway\Request\DebitCard\GeneralDataBuild</item>
                <item name="order" xsi:type="string">FCamara\Getnet\Gateway\Request\DebitCard\OrderDataBuild</item>
                <item name="customer" xsi:type="string">FCamara\Getnet\Gateway\Request\DebitCard\CustomerDataBuild</item>
                <item name="device" xsi:type="string">FCamara\Getnet\Gateway\Request\DebitCard\DeviceDataBuild</item>
                <item name="shipping" xsi:type="string">FCamara\Getnet\Gateway\Request\DebitCard\ShippingDataBuild</item>
                <item name="debit" xsi:type="string">FCamara\Getnet\Gateway\Request\DebitCard\DebitDataAuthorizationBuild</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- DebitCard Response handlers -->
    <virtualType name="GetnetGatewayDebitCardResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="payment_id" xsi:type="string">FCamara\Getnet\Gateway\Response\PaymentIdHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- DebitCard Payment Method Facade configuration -->
    <virtualType name="GetnetGatewayDebitCardFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\FCamara\Getnet\Model\Ui\DebitCard\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">FCamara\Getnet\Block\DebitCard\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">GetnetGatewayDebitCardValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">GetnetGatewayDebitCardCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- DebitCard Commands infrastructure -->
    <virtualType name="GetnetGatewayDebitCardCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">GetnetGatewayDebitCardAuthorizeCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- DebitCard Value handlers infrastructure -->
    <virtualType name="GetnetGatewayDebitCardValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">GetnetGatewayDebitCardConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="GetnetGatewayDebitCardConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">GetnetGatewayDebitCardConfig</argument>
        </arguments>
    </virtualType>

    <!-- DebitCard Configuration reader -->
    <virtualType name="GetnetGatewayDebitCardConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\FCamara\Getnet\Model\Ui\DebitCard\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- DebitCard AuthorizeClient Initialization -->
    <type name="FCamara\Getnet\Gateway\Http\Client\DebitCard\AuthorizeClient">
        <arguments>
            <argument name="logger" xsi:type="object">GetnetGatewayDebitCardLogger</argument>
        </arguments>
    </type>

    <!-- Logger, initialized with GetnetGatewayDebitCardConfig -->
    <virtualType name="GetnetGatewayDebitCardLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">GetnetGatewayDebitCardConfig</argument>
        </arguments>
    </virtualType>

    <type name="FCamara\Getnet\Gateway\Request\AuthorizationRequest">
        <arguments>
            <argument name="config" xsi:type="object">GetnetGatewayDebitCardConfig</argument>
        </arguments>
    </type>

    <!-- DEBITCARD PAYMENT CONFIGURATION -->

    <!-- BILLET PAYMENT CONFIGURATION -->
    <type name="FCamara\Getnet\Block\Billet\Info">
        <arguments>
            <argument name="config" xsi:type="object">GetnetGatewayDebitCardConfig</argument>
        </arguments>
    </type>
    <!-- BILLET PAYMENT CONFIGURATION -->

    <!-- Getnet error code mapper -->
    <virtualType name="FCamara\Getnet\Gateway\ErrorMapper\VirtualConfigReader" type="Magento\Payment\Gateway\ErrorMapper\VirtualConfigReader">
        <arguments>
            <argument name="fileName" xsi:type="string">getnet_error_mapping.xml</argument>
        </arguments>
    </virtualType>

    <virtualType name="FCamara\Getnet\Gateway\ErrorMapper\VirtualMappingData" type="Magento\Payment\Gateway\ErrorMapper\MappingData">
        <arguments>
            <argument name="reader" xsi:type="object">FCamara\Getnet\Gateway\ErrorMapper\VirtualConfigReader</argument>
            <argument name="cacheId" xsi:type="string">getnet_error_mapper</argument>
        </arguments>
    </virtualType>

    <virtualType name="FCamara\Getnet\Gateway\ErrorMapper\VirtualErrorMessageMapper" type="Magento\Payment\Gateway\ErrorMapper\ErrorMessageMapper">
        <arguments>
            <argument name="messageMapping" xsi:type="object">FCamara\Getnet\Gateway\ErrorMapper\VirtualMappingData</argument>
        </arguments>
    </virtualType>

    <!-- API -->
    <preference for="FCamara\Getnet\Api\CardsInterface" type="FCamara\Getnet\Model\Cards" />
    <preference for="FCamara\Getnet\Api\AmountInterface" type="FCamara\Getnet\Model\CheckoutIframeAmount" />
    <preference for="FCamara\Getnet\Api\GenerateQRCodeInterface" type="FCamara\Getnet\Model\Service\Pix\GenerateQRCode" />
    <preference for="FCamara\Getnet\Api\ServiceNotificationPixInterface" type="FCamara\Getnet\Model\Service\Pix\ServiceNotificationPix" />
    <preference for="FCamara\Getnet\Api\StatusByOrderIdInterface" type="FCamara\Getnet\Model\Service\Pix\StatusByOrderId" />
    <!-- API -->

    <!-- ADMIN REPORT GRID -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="fcamara_getnet_report_listing_data_source" xsi:type="string">FCamara\Getnet\Model\ResourceModel\Report\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="FCamara\Getnet\Model\ResourceModel\Report\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">getnet_reports</argument>
            <argument name="resourceModel" xsi:type="string">FCamara\Getnet\Model\ResourceModel\Report</argument>
        </arguments>
    </virtualType>
    <!-- ADMIN REPORT GRID -->

    <!-- ADMIN SELLER GRID -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="fcamara_getnet_seller_listing_data_source" xsi:type="string">FCamara\Getnet\Model\ResourceModel\Seller\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="FCamara\Getnet\Model\ResourceModel\Seller\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">fcamara_getnet_seller</argument>
            <argument name="resourceModel" xsi:type="string">FCamara\Getnet\Model\ResourceModel\Seller</argument>
        </arguments>
    </virtualType>
    <!-- ADMIN SELLER GRID -->
</config>
