<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="getnet" sortOrder="999" translate="label">
            <label>getnet</label>
        </tab>
        <section id="payment" showInDefault="1" showInStore="1" showInWebsite="1" translate="label">
            <group id="getnet" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>
                    <![CDATA[Getnet <i> by FCamara formação e consultioria</i>]]>
                </label>
                <group  id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                    <label>General</label>
                    <field id="enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="select">
                        <label>Enabled</label>
                        <comment />
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/getnet/enabled</config_path>
                    </field>
                    <field id="environment" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Environment</label>
                        <source_model>FCamara\Getnet\Model\Adminhtml\Source\Environment</source_model>
                        <config_path>payment/getnet/environment</config_path>
                    </field>
                    <field id="sandbox_endpoint" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Sandbox Endpoint</label>
                        <depends>
                            <field id="environment">sandbox</field>
                        </depends>
                        <config_path>payment/getnet/sandbox_endpoint</config_path>
                    </field>
                    <field id="production_endpoint" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Production Endpoint</label>
                        <depends>
                            <field id="environment">production</field>
                        </depends>
                        <config_path>payment/getnet/production_endpoint</config_path>
                    </field>
                    <field id="enabled_fingerprint" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="140" translate="label" type="select">
                        <label>Enabled Fingerprint</label>
                        <comment />
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/getnet/enabled_fingerprint</config_path>
                    </field>
                    <field id="fingerprint_endpoint" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Fingerprint Endpoint</label>
                        <depends>
                            <field id="enabled_fingerprint">1</field>
                        </depends>
                        <config_path>payment/getnet/fingerprint_endpoint</config_path>
                    </field>
                    <field id="fingerprint_sandbox_org_id" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Fingerprint Sandbox Org Id</label>
                        <depends>
                            <field id="enabled_fingerprint">1</field>
                            <field id="environment">sandbox</field>
                        </depends>
                        <config_path>payment/getnet/fingerprint_sandbox_org_id</config_path>
                    </field>
                    <field id="fingerprint_production_org_id" translate="label" type="text" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Fingerprint Production Org Id</label>
                        <depends>
                            <field id="enabled_fingerprint">1</field>
                            <field id="environment">production</field>
                        </depends>
                        <config_path>payment/getnet/fingerprint_production_org_id</config_path>
                    </field>
                    <group id="cpf_cnpj_settings" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>CPF/CNPJ</label>
                        <field id="cpf_same_as_cnpj" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="140" translate="label" type="select">
                            <label>Is CPF attribute the same as CNPJ</label>
                            <comment />
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/getnet/cpf_same_as_cnpj</config_path>
                        </field>
                        <field id="document_attribute" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="160" translate="label" type="select">
                            <label>CPF/CNPJ</label>
                            <source_model>FCamara\Getnet\Model\Adminhtml\Source\CustomerAttribute</source_model>
                            <depends>
                                <field id="cpf_same_as_cnpj">1</field>
                            </depends>
                            <config_path>payment/getnet/document_attribute</config_path>
                        </field>
                        <field id="cpf_attribute" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="150" translate="label" type="select">
                            <label>CPF</label>
                            <source_model>FCamara\Getnet\Model\Adminhtml\Source\CustomerAttribute</source_model>
                            <depends>
                                <field id="cpf_same_as_cnpj">0</field>
                            </depends>
                            <config_path>payment/getnet/cpf_attribute</config_path>
                        </field>
                        <field id="cnpj_attribute" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="160" translate="label" type="select">
                            <label>CNPJ</label>
                            <source_model>FCamara\Getnet\Model\Adminhtml\Source\CustomerAttribute</source_model>
                            <depends>
                                <field id="cpf_same_as_cnpj">0</field>
                            </depends>
                            <config_path>payment/getnet/cnpj_attribute</config_path>
                        </field>
                    </group>
                    <group id="street_settings" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Street</label>
                        <field id="street" translate="label" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Street Line</label>
                            <source_model>FCamara\Getnet\Model\Adminhtml\Source\StreetLine</source_model>
                            <config_path>payment/getnet/street</config_path>
                        </field>
                        <field id="number" translate="label" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Number Line</label>
                            <source_model>FCamara\Getnet\Model\Adminhtml\Source\StreetLine</source_model>
                            <config_path>payment/getnet/number</config_path>
                        </field>
                        <field id="complement" translate="label" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Complement Line</label>
                            <source_model>FCamara\Getnet\Model\Adminhtml\Source\StreetLine</source_model>
                            <config_path>payment/getnet/complement</config_path>
                        </field>
                        <field id="district" translate="label" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>District Line</label>
                            <source_model>FCamara\Getnet\Model\Adminhtml\Source\StreetLine</source_model>
                            <config_path>payment/getnet/district</config_path>
                        </field>
                    </group>
                </group>
                <group id="credentials" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Credentials</label>
                    <field id="seller_id" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Seller Id</label>
                        <config_path>payment/getnet/seller_id</config_path>
                    </field>
                    <field id="client_id" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Client Id</label>
                        <config_path>payment/getnet/client_id</config_path>
                    </field>
                    <field id="client_secret" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Client Secret</label>
                        <config_path>payment/getnet/client_secret</config_path>
                    </field>
                </group>
                <group id="split" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Split</label>
                    <field id="enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="select">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>getnet/split/enabled</config_path>
                    </field>
                    <field id="environment" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Environment</label>
                        <source_model>FCamara\Getnet\Model\Adminhtml\Source\Environment</source_model>
                        <config_path>getnet/split/environment</config_path>
                    </field>
                    <field id="sandbox_endpoint" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Sandbox Endpoint</label>
                        <depends>
                            <field id="environment">sandbox</field>
                        </depends>
                        <config_path>getnet/split/sandbox_endpoint</config_path>
                    </field>
                    <field id="production_endpoint" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Production Endpoint</label>
                        <depends>
                            <field id="environment">production</field>
                        </depends>
                        <config_path>getnet/split/production_endpoint</config_path>
                    </field>
                </group>
                <group id="methods" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Methods</label>
                    <group id="billet" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Billet</label>
                        <field id="billet_enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="select">
                            <label>Enabled</label>
                            <comment />
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/getnet_billet/active</config_path>
                        </field>
                        <field id="title" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
                            <label>Title</label>
                            <config_path>payment/getnet_billet/title</config_path>
                        </field>
                        <field id="provider" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Provider</label>
                            <source_model>FCamara\Getnet\Model\Adminhtml\Source\PaymentProvider</source_model>
                            <config_path>payment/getnet_billet/provider</config_path>
                        </field>
                        <field id="our_number" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
                            <label>Our Number</label>
                            <config_path>payment/getnet_billet/our_number</config_path>
                        </field>
                        <field id="expiration_days" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
                            <label>Expiration Days</label>
                            <config_path>payment/getnet_billet/expiration_days</config_path>
                        </field>
                        <field id="instructions" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="textarea">
                            <label>Instructions</label>
                            <config_path>payment/getnet_billet/instructions</config_path>
                        </field>
                        <field id="order_status" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                            <label>New Order Status</label>
                            <source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
                            <config_path>payment/getnet_billet/order_status</config_path>
                        </field>
                        <field id="sort_order" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Sort Order</label>
                            <frontend_class>validate-number</frontend_class>
                            <config_path>payment/getnet_billet/sort_order</config_path>
                        </field>
                    </group>
                    <group id="credit_card" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Credit Card</label>
                        <field id="active" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="select">
                            <label>Active</label>
                            <comment />
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/getnet_credit_card/active</config_path>
                        </field>
                        <field id="title" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
                            <label>Title</label>
                            <config_path>payment/getnet_credit_card/title</config_path>
                        </field>
                        <field id="provider" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Provider</label>
                            <source_model>FCamara\Getnet\Model\Adminhtml\Source\PaymentProvider</source_model>
                            <config_path>payment/getnet_credit_card/provider</config_path>
                        </field>
                        <field id="payment_action" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Payment Action</label>
                            <source_model>FCamara\Getnet\Model\Adminhtml\Source\PaymentAction</source_model>
                            <config_path>payment/getnet_credit_card/payment_action</config_path>
                        </field>
                        <field id="cctypes" translate="label" type="multiselect" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                            <label>Credit Card Types</label>
                            <source_model>FCamara\Getnet\Model\Adminhtml\Source\Cctype</source_model>
                            <config_path>payment/getnet_credit_card/cctypes</config_path>
                        </field>
                        <field id="cvv_enabled" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                            <label>Enable Credit Card Verification Field</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/getnet_credit_card/cvv_enabled</config_path>
                        </field>
                        <field id="order_status" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>New Order Status</label>
                            <source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
                            <config_path>payment/getnet_credit_card/order_status</config_path>
                        </field>
                        <field id="installments" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Installments</label>
                            <source_model>FCamara\Getnet\Model\Adminhtml\Source\CreditCardInstallmentsAction</source_model>
                            <config_path>payment/getnet_credit_card/installments</config_path>
                        </field>
                        <field id="sort_order" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Sort Order</label>
                            <frontend_class>validate-number</frontend_class>
                            <config_path>payment/getnet_credit_card/sort_order</config_path>
                        </field>
                        <field id="qty_installments" translate="label" type="text" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Quantity Installments</label>
                            <frontend_class>validate-number</frontend_class>
                            <config_path>payment/getnet_credit_card/qty_installments</config_path>
                        </field>
                        <field id="min_installment" translate="label" type="text" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Minimum installment</label>
                            <frontend_class>validate-number</frontend_class>
                            <config_path>payment/getnet_credit_card/min_installment</config_path>
                        </field>
                    </group>
                    <group id="debit_card" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Debit Card</label>
                        <field id="active" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="select">
                            <label>Enabled</label>
                            <comment />
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/getnet_debit_card/active</config_path>
                        </field>
                        <field id="title" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
                            <label>Title</label>
                            <config_path>payment/getnet_debit_card/title</config_path>
                        </field>
                        <field id="provider" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Provider</label>
                            <source_model>FCamara\Getnet\Model\Adminhtml\Source\PaymentProvider</source_model>
                            <config_path>payment/getnet_debit_card/provider</config_path>
                        </field>
                        <field id="cctypes" translate="label" type="multiselect" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                            <label>Credit Card Types</label>
                            <source_model>FCamara\Getnet\Model\Adminhtml\Source\Cctype</source_model>
                            <config_path>payment/getnet_debit_card/cctypes</config_path>
                        </field>
                        <field id="cvv_enabled" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                            <label>Enable Credit Card Verification Field</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/getnet_debit_card/cvv_enabled</config_path>
                        </field>
                        <field id="order_status" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>New Order Status</label>
                            <source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
                            <config_path>payment/getnet_debit_card/order_status</config_path>
                        </field>
                        <field id="sort_order" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Sort Order</label>
                            <frontend_class>validate-number</frontend_class>
                            <config_path>payment/getnet_debit_card/sort_order</config_path>
                        </field>
                    </group>
                    <group id="getnet_checkout_iframe" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Checkout Iframe</label>
                        <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/getnet_checkout_iframe/active</config_path>
                        </field>
                        <field id="order_status" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                            <label>New Order Status</label>
                            <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                            <config_path>payment/getnet_checkout_iframe/order_status</config_path>
                        </field>
                        <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Sort Order</label>
                            <frontend_class>validate-number</frontend_class>
                            <config_path>payment/getnet_checkout_iframe/sort_order</config_path>
                        </field>
                        <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Title</label>
                            <config_path>payment/getnet_checkout_iframe/title</config_path>
                        </field>
                        <field id="allowspecific" translate="label" type="allowspecific" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                            <label>Payment from Applicable Countries</label>
                            <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                            <config_path>payment/getnet_checkout_iframe/allowspecific</config_path>
                        </field>
                        <field id="specificcountry" translate="label" type="multiselect" sortOrder="51" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Payment from Specific Countries</label><source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                            <can_be_empty>1</can_be_empty>
                            <config_path>payment/getnet_checkout_iframe/specificcountry</config_path>
                        </field>
                        <field id="min_order_total" translate="label" type="text" sortOrder="98" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Minimum Order Total</label>
                            <config_path>payment/getnet_checkout_iframe/min_order_total</config_path>
                        </field>
                        <field id="max_order_total" translate="label" type="text" sortOrder="99" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Maximum Order Total</label>
                            <config_path>payment/getnet_checkout_iframe/max_order_total</config_path>
                        </field>
                        <field id="url_checkout_iframe" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Url Checkout Iframe</label>
                            <config_path>payment/getnet/url_checkout_iframe</config_path>
                        </field>
                    </group>
                </group>
            </group>
        </section>
    </system>
</config>